* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	--clr-background: #f5f7fb;
	--clr-text: #293264;
	--clr-button: #4d5b9e;
	--clr-answer-button: #4d5b9e;
	--clr-answer-selected: #d6dbf5;
	--clr-answer-incorrect: #f8bcbc;
	--clr-answer-correct: #94d7a2;
	--clr-question-separator: #dbdef0;
}

body {
	font-family: 'Inter', sans-serif;
	color: var(--clr-text);
	min-height: 100vh;
	background-color: var(--clr-background);
	background-image: url('./img/blob1.svg'), url('./img/blob2.svg');
	background-position: top right, bottom left;
	background-size: 30%;
	background-repeat: no-repeat;
}

.button {
	background-color: var(--clr-button);
	border: none;
	padding: 1em 3em;

	color: var(--clr-background);
	font-family: inherit;
	font-weight: 500;

	border-radius: 15px;
	cursor: pointer;
}

.start-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.quiz-container {
	width: 80%;
	max-width: 40rem;
	margin: 0 auto;
	margin-top: 2.5rem;
}

.app-title {
	margin-bottom: 3.4rem;
	font-family: 'Karla', sans-serif;
	font-size: 1.9rem;
	font-weight: 700;
}

.questions-container {
	margin-bottom: 1.25rem;
}

.question {
	border-bottom: 0.794239px solid var(--clr-question-separator);
	padding: 0.9rem 0;
}

.question-title {
	font-family: 'Karla', sans-serif;
	font-weight: 700;
	font-size: 1rem;
	margin-bottom: 0.75rem;
}

.answer-button-container {
	display: flex;
	gap: 0.794rem;
}

.answer-button {
	background: none;
	border: 0.8px solid var(--clr-answer-button);
	border-radius: 7.942px;
	padding: 0.39em 1.95em;

	font-weight: 500;
	font-size: 0.64rem;
	color: inherit;
	cursor: pointer;
}

.answer-button:focus {
	outline: none;
}

.answer-button[disabled] {
	opacity: 0.5;
	cursor: auto;
}

.answer-button--selected {
	border: none;
	background-color: var(--clr-answer-selected);
}

.answer-button--incorrect {
	border: none;
	background-color: var(--clr-answer-incorrect);
}

.answer-button--correct.answer-button--correct {
	border: none;
	background-color: var(--clr-answer-correct);
	opacity: 1;
}

.results {
	display: flex;
	gap: 1.5rem;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

.results-text {
	font-weight: 700;
	font-size: 0.8rem;
}
